{% extends "base.html" %}
{% block body %}

<form class="form" id="trackForm" method="post">
  {{ form.as_p }}
    {% for track in object_list %}
    <div class="cntr">
      <label for="rdo-{{ forloop.counter }}" class="btn-radio">
        <input type="radio" id="rdo-{{ forloop.counter }}" name="radio-grp"
               value={{ track.track_id }}>
        <svg width="20px" height="20px" viewBox="0 0 20 20">
          <circle cx="10" cy="10" r="9"></circle>
          <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
          <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
        </svg>
        <span>{{ track.track_name  }}</span>
      </label>
    </div>
    {% endfor %}
    <input type="submit" value="Aceptar">
</form>

  <script>
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
  </script>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Set radiobuttons to form field -->
  <script>
    $('input[name="radio-grp"]').change(function(){
      $("#id_track_id").val($(this).val());
    });
    $("#id_sender_id").val( {{ view.kwargs.sender_id }} );
  </script>

  <script>
    window.extAsyncInit = function() {
      console.log('Messenger extensions are ready');

      var APP_ID = '1980550775299550';
      // handle button click
      $('#trackForm').submit(function(){
        console.log('Submit pressed');

        MessengerExtensions.requestCloseBrowser(function() {
          console.log("Window will be closed");
        }, function(error) {
          console.log("Error in MessengerExtensions");
          console.log(error);
        });
      });
    }
  </script>

{% endblock %}
